.centered {
    text-align: center;
}

.left-justified {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

.full-width {
    width: 100%;
}

.padded {
    padding-bottom: 10px;
}
